<div class="home">
  <header class="home-header">
    <div class="logo">Nick Mookhoek</div>

    <nav class="home-navigation">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="about" routerLinkActive="active">About me</a>
      <a routerLink="education" routerLinkActive="active">Education</a>
      <a routerLink="experience" routerLinkActive="active">Experience</a>
      <a routerLink="skills" routerLinkActive="active">Skills</a>
      <a routerLink="contact" routerLinkActive="active">Contact</a>
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
