<div class="container">
  <h1>About me</h1>
  <div class="info">
    <p>{{ age }} <span> / </span> {{ city }}</p>
  </div>
  <div class="story">
    <p>
      After a successfull career as a senior actuarial calculator, I retrained myself to become a
      Front- end Developer. In this role not only do my qualities match well, but my passion for
      software development and desing also expresses itself. I also like to think about improvements
      and am I able to translate a functional question into a creative solution. Because of my
      communication skills I am a pleasant sparring partner for both my colleagues and end users and
      I feel comfortable in an environment in which people work on a common goal.
    </p>
  </div>
</div>
