<div class="container">
  <h1>{{ translate('about_me') }}</h1>
  <div class="about">
    <div class="info">
      63&nbsp;{{ translate('years') }} <span class="divider">/</span> Front-end Developer
      (Angular) <span class="divider">/</span> {{ translate('experience_years') }}
      <span class="divider">/</span> Vlaardingen
    </div>
    <div class="story">
      <p>
        {{ translate('about_me_story_1') }}
      </p>

      <p>
        {{ translate('about_me_story_2') }}
      </p>
    </div>
  </div>
</div>
