<div class="container">
  <h1>Experience</h1>

  <div class="profession">
    <h6>Front-end Developer<span class="role-note">(Junior → Medior)</span></h6>
    <div class="info">
      2021 - 2025 <span class="divider">/</span> TrackOnline <span class="divider">/</span> Delft
    </div>

    <p class="label">Responsibilities</p>
    <ul class="textbox">
      @for (responsibility of TrackOnlineResponsibilities; track responsibility) {
        <li>{{ responsibility }}</li>
      }
    </ul>
  </div>

  <div class="profession">
    <h6>Senior Actuarial Calculator</h6>
    <div class="info">
      2000 - 2020 <span class="divider">/</span> Nationale Nederlanden
      <span class="divider">/</span> Rotterdam
    </div>

    <p class="label">Responsibilities</p>
    <ul class="textbox">
      @for (responsibility of NNResponsibilities; track responsibility) {
        <li>{{ responsibility }}</li>
      }
    </ul>
  </div>
</div>
