i {
  font-size: 60px;
  color: rgb(52, 121, 199);
}

.icon-bar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon {
  position: relative;
}

.icon::after {
  content: attr(data-tooltip);
  position: absolute;
  left: -20%;
  top: 130%;
  transform: translateY(-50%);

  background: #111;
  color: rgb(52, 121, 199);
  padding: 10px 6px;
  border-radius: 6px;
  font-size: 20px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.icon:hover::after {
  opacity: 1;
}
