.container {
  display: grid;
  grid-template-columns: 500px 150px auto;
  column-gap: 20px;
  padding: 10px;
}

.image {
  border: 2px solid red;
}

.menu {
  border: 2px solid red;
}

.content {
  border: 2px solid red;
}
