.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  padding: 0px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .image {
    display: none;
  }
}
