:host {
  display: block;
}

.education-box {
  width: 100%;
  height: 815px;
  background-color: rgb(24, 23, 23);
  overflow-x: hidden;
}

.h1-font-education {
  margin: 30px 0px 0px 30px;
  font-size: 70px;
  color: white;
}

.info {
  font-size: 20px;
  font-style: italic;
  margin: 30px 0px 0px 35px;
  color: #00c483;
}

h5 {
  font-size: 25px;
  color: white;
  margin: 50px 0px 0px 35px;
}

#math {
  margin-top: 30px;
}

.years {
  font-style: italic;
  margin: 20px 0px 0px 35px;
  color: #00c483;
}

.school {
  margin: 20px 0px 0px 35px;
  color: rgb(153, 146, 146);
}
