@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  background: transparent;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

@media (max-width: 768px) {
  html,
  body {
    background: #005a61;
  }
}
